.header__social-icon {
  display: flex;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;

  li:hover {
    a {
      svg {
        color: #5db442;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header__social-icon {
    line-height: 39px;
  }
}
