.signUpSection {
  .signup_container {
    z-index: -1;
    position: relative;
    img {
      width: 100%;
    }

    .signUp_mask {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(28, 33, 33, 0.5);
    }
  }
}
