.service_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: auto;
  border: 1px solid #efefef;
  padding: 16px;

  .service_card-topline {
    position: absolute;
    top: -1px;
    margin: 0;
    width: 60px;
    height: 1.3px;
    background: gray;
    outline: none;
    border: none;
  }
  .service_title {
    padding: 6px 0 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .service_price {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid #5db442;
    outline: #efefef solid 2.5px;
    border-radius: 50%;
    padding: 8px;
    z-index: -1;
  }

  .benefits {
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .isbenefit {
      color: #5db442;
      margin-right: 4px;
      border-radius: 100%;
      font-size: 12px;
    }

    .nobenefit {
      color: gray;
      margin-right: 4px;
      border-radius: 100%;
      font-size: 12px;
    }
  }

  .service_btn {
    color: #000;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 400;
    background: #fff;
    cursor: pointer;
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 0.1em grey;
    cursor: pointer;
  }

  .service_card-middleline {
    z-index: -2;
    position: absolute;
    top: 32%;
    width: 100%;
    height: 1px;
    background: gray;
    outline: none;
    border: none;
  }
}

.service_card:hover {
  .service_card-topline {
    background: #5db442;
  }
  .service_btn:hover {
    background: #5db442;
    color: #fff;
  }
}
