.header_contact {
  display: flex;
  flex-direction: column;
  li {
    a {
      display: flex;
      align-items: center;
      font-size: 13px;

      svg {
        margin-right: 5px;
      }
    }
  }
}
