header {
  z-index: 1;
  position: fixed;
  width: 100%;
  .header__top-black {
    background: #282828;

    &__row {
      height: 40px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
