footer {
  background-color: #efefef;
  .footer__container {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
      }
    }
  }
  .subfuoter__row {
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    margin-top: 15px;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        margin: 3px 0;
        font-size: 20px;
        line-height: 30px;
        color: #636666;
      }

      &__copyrights-box {
        font-size: 11px;
        line-height: 17px;
        color: #777777;
        font-weight: 300;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    .footer__container {
      &__content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        a {
          line-height: 30px;
        }

        a:hover {
          color: rgba(0, 0, 0, 0.5);
        }

        .footer__content-item:nth-child(1) {
          padding-left: 0;
        }

        .footer__content-item:nth-child(4) {
          padding-right: 50px;
        }
      }
    }

    .subfuoter__row {
      margin: 0;
      &__container {
        height: 80px;
        flex-direction: row;
        justify-content: space-between;

        &__copyrights-box {
          text-align: end;
          line-height: 18px;
          font-size: 14px;
        }

        a {
          font-size: 20px;
        }
      }
    }
  }
}
