.card_section {
  background: #f9f9f9;

  .card_section-title {
    text-align: center;
    font-size: calc(18px + (18 + 18 * 0.8) * ((100vw - 360px) / 1280));
    font-weight: 300;
    color: #000;
    padding-top: 32px;
  }

  .grid_container {
    display: grid;
    gap: 24px;
    margin-top: 24px;
    padding: 16px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .card_section {
    padding: 36px 32px;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
    padding: 36px;
    justify-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .card_section {
    padding-bottom: 50px;

    .card_section-title {
      padding: 50px 0 50px 0;
      font-size: 48px;
    }
  }

  .grid_container {
    grid-template-columns: repeat(4, 2fr);
    gap: 36px;
  }
}
