.card {
  background: #f9f9f9;

  &__section-title {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
    padding-top: 32px;
  }

  &__section-grid {
    display: grid;
    grid-gap: 24px;
    margin-top: 24px;
    padding: 16px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .card {
    &__section {
      padding: 36px 32px;
    }

    &__section-title {
      font-size: 24px;
      line-height: 36px;
    }
    &__section-grid {
      grid-template-columns: repeat(2, 2fr);
      padding: 36px;
      justify-items: center;
    }
  }
}

@media screen and (min-width: 1170px) {
  .card {
    &__section {
      padding-bottom: 50px;
    }
    &__section-title {
      padding: 50px 0 50px 0;
      font-size: 48px;
      line-height: 60px;
    }

    &__section-grid {
      grid-template-columns: repeat(4, 2fr);
    }
  }
}
