.nav__content {
  background: white;
  &__container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      font-family: sans-serif;
      color: #636666;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1170px) {
  .nav__content {
    &__container {
      height: 80px;
      &__logo {
        font-size: 30px;
        line-height: 60px;
      }
    }
  }
}
