button {
  font-size: 13px;
  border: 1px solid #5db442;
  border-radius: 18px;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  color: #5db442;
  width: 30%;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  button {
    width: 80px;
    height: 24px;
  }
}

@media screen and (min-width: 1170px) {
  button {
    width: 96px;
    height: 30px;
    border-radius: 15px;
  }
}
