.footer__content__item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer__content__item {
    align-items: flex-start;
    margin-bottom: 25px;
    padding-left: 15px;
    h4 {
      margin: 40px 0 40px 0;
    }
  }
}
