form {
  input {
    background-color: #fff;
    color: #000;
    border: #cccccc 1px solid;
    border-right: 0;
    border-radius: 90px 0 0 90px;
    width: 180px;
    height: 36px;
    padding-left: 10px;
    margin: 0 0 10px 0;
    font-size: 12px;
    outline: none;
  }
  input::placeholder {
    color: #cccccc;
  }
}
