@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto";
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
